* {
  box-sizing: border-box;
}
header {
  text-align: center;
}

.menu {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 1rem;
  flex: 1;
  & input {
    margin: 0 1rem;
  }
  & label {
    margin: 0 1rem;
  }
}
.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 1rem;
  flex: 1;
  & li {
    margin: 5px;
    list-style: none;
  }
}
